#plateau {
    background-color: rgb(255, 255, 150);
    height: 400px;
    width: 400px;
    position: relative;
}

.cible {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}