<head>
	<title>
	Pascal
	</title>
	<style type="text/css">
	p { color: black; font-size :18px ; text-align :justify ; }
	h1 { font-family : sans-sherif ; font-size :50px ; color : darkblue ; border-bottom :2px solid darkblue ; }
	h2{ font-family : sans-sherif ; font-size :22px ; color : darkblue ; }
	li {  list-style-type :circle ; font-size :18px ; color : black }
	thead{background: #AAF; font-size :18px;}
	tbody tr:nth-child(even) {background: #AAF; font-size :18px;}
	tbody tr:nth-child(odd) {background: #AFA; font-size :18px;}
	table{ border-collapse:collapse;}
	th{border: 1px solid black}
	td{border: 1px solid black}
	</style>
</head>
<body>
	<h1>
	<img src = "https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/d7/24/08/d7240855-0e51-7f7e-6c2d-3bafdea5a05f/source/512x512bb.jpg" alt="Pascal"
	align = bottom
	width = 75
	height = 70>
	Langage de programmation Pascal </h1>
	<p>
	Pascal est un langage de programmation impératif qui a été conçu pour l'enseignement en 1970 par
	<a href="https://www.swissinfo.ch/fre/sci-tech/pionniers-suisses-du-num%C3%A9rique_niklaus-wirth--l%C3%A9g
	ende-vivante-de-l-informatique/45337350">Niklaus Wirth</a>.
	Il se caractérise donc par une synthaxe clair, rigoureuse et qui facilite la structuration des programmes.
	Influencé par Algol et Fortran, c'est le premier langage impératif à être répandu dans tout le monde.
	</p>
	<h2>Caractéristiques du Pascal:</h2>
	<ul>
		<li>Langage verbeux</li>
		<li>Blocs d'instructions avec <strong>Begin</strong> et <strong>End</strong></li>
		<li>Variables, mots clés, fonctions et procédures insensibles à la casse (moins d'erreurs)</li>
		<li>Typage de données avec possibilité de créer des types</li>
		<li>Orthogonalité: permet à chaque composant d'être indépendant donc de les modifier sans en modifier un autre </li>
		<li>Surcharge des opérateurs (+, and, or, not)</li>
		<li>Langage avec la compilation la plus rapide existante</li>
	</ul>
	<h2>Exemple de code en Pascal:</h2>
	<img src="https://www.researchgate.net/publication/269456656/figure/fig2/AS:523087747977217@1501725245969/Delphi-Pascal-code-for-generating-and-bubblesorting-8-term-arrays.png" alt="exemple de code">
	<h2>Critiques de Pascal et développements:</h2>
	<p>
	Le language Pascal possède des points communs avec le C, le Java, le C++.
	Le language de base était seulement éducatif donc assez limité, ainsi il a été critiqué, notamment car le typage des tableaux et le
	typage des chaînes de caractères rendait la programmation particulièrement compliquée mais également pour le passage de 
	fonction comme paramètre. Le langage s'est amélioré et ce problème n'est donc plus d'actualité.
	Les développements (Turbo Pascal, Pascal Objet, Delphi) qu'il a connus par la suite en ont fait un langage complet et efficace.
	</p>
	<h2>Comparaison avec Python:</h2>
	<p>
	Le Pascal a une syntaxe très simple à comprendre et à appprendre mais Python qui est plus récent 
	a beaucoup de tutoriels et d'exemples sur Internet c'est donc plus facile de trouver une solution
	lorsque l'on a un problème. Dans Python, les blocs d'instructions ne contiennent pas Begin et End
	et le compilateur de Pascal est plus rapide.
	</p>
	<h2>Dates importantes:</h2>
	<table>
		<thead>
			<tr>
			<th>Dates</th>
			<th>Evenements</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>1970</td>
			<td>Création du Pascal</td>
			</tr>
			
			<tr>
			<td>1978</td>
			<td>Publication de l'article <em> Why Pascal is not my favorite language </em> qui critique le Pascal</td>
			</tr>
			
			<tr>
			<td>1981</td>
			<td>Universités et écoles d'ingénieurs françaises s'en servent comme support de l'algorithmique et de la programmation stucturée</td>
			</tr>
			
			<tr>
			<td>1983</td>
			<td>La société Borland commercialise le compilateur Turbo Pascal</td>
			</tr>
			
			<tr>
			<td>2015</td>
			<td>Pascal est abandonné pour les épreuves de l'option informatique</td>
			</tr>
		</tbody>
	</table>
</body>