<p><em><strong><span style="color:red">LE LANGAGE RUBY :</strong></em></p>
<p><strong><em>Ruby</strong></em> est un langage de programmation libre. Il est interprété, orienté objet et multi-paradigme. Le langage a été standardisé au Japon en 2011( JIS x 3017:2011 ) et en 2012 par l'Organisation internationale de normalisation ( ISO 30170:2012 )</p>
<p><strong><em>Yukihiro « Matz » Matsumoto</strong></em> est le créateur de Ruby. Frustré par son expérience en développement <strong><em>Smalltalk</strong></em> et Lisp, il commence la conception d'un nouveau langage en 1993 sous <strong><em>Emacs</strong></em>, puis publie une première version en 1995 sous licence libre. Il enchaîne depuis les nouvelles versions</p>
<p>Depuis l'arrivée d'une documentation anglophone, et du <strong><em>Framework web ( Riby on Rails )</strong></em> en 2004, Ruby a connu un certain engouement qui n'a cessé de croître jusqu'en 2008 dan sle monde de la programmation, puis une érosion lente si on en juge par son index <strong><em>Tiobe</strong></em>.</p>
<p>Ruby est un langage de programmation interprété et orienté objet, qui est à la fois simple et puissant.</p>
<p>Simple ( à apprendre et à utiliser ), car sa syntaxe est cohérente, et surtout a été conçue pour éviter autant que possible les mauvaises surprises.</p>
<p>Et puissant pour de nombreuses raisons :
<ul>
    <li> tout est objet en <strong><em>ruby</strong></em> ( par exemple, le chiffre 3 qui est une instance de la classe <strong><em>Fixnum</strong></em> ).</li>
    <li> pas de besoin de libérer la mémoire : le ramasse-miettes s'en charge.</li>
    <li> La gestion des exceptions permet de gérer facilement les erreurs.</li>
    <li> Les expressions régulières sont faciles à utiliser ( même en japonais ).</li>
    <li> et beaucoup d'autres fonctionnalités, comme la possibilité de rajouter une méthode à une classe ou à une instance pendant l'éxécution …</p></li>
</ul>
<p>Quand on rajoute ses autres atouts ( portabilité, performances, facilité de rajouter des extensions en C ), on se retrouve avec un langage de programmation qui gagnerait à être plus connu.</p>
<p>D'ailleurs le créateur de Ruby est Japonais.
Ruby est au moins aussi performant que les autres langages de programmation interprétés que sont Python et Perl.</p>
<p>L'un des principaux <strong><em>avantages de Ruby</strong></em> on <strong><em>Rails</strong></em> repose en effet sur le langage <strong><em>Ruby</strong></em>. Particulièrement reconnu pour sa souplesse, le langage <strong><em>Ruby</strong></em> permet d'optimiser la productivité d'un rojet en réduisant considérablement <strong><em>son</strong></em> temps de développement.</p>
<p>Par rapport à d'autres <strong><em>informatiques, Ruby est</strong></em> assez nouveau et à <strong><em>son</strong></em> propre langage de programmation unique. Certains programmeurs considérer cela comme un désavantage parce qu'ils doivent prendre beaucoup de temps juste pour apprendre la langue avant de l'utiliser.</p>
<p><strong><em>Python est</strong></em> plus couramment utilisé dans le développement de Linux <strong><em>et est</strong></em> très bien accueilli par les milieux universitaires. Un autre point important dans la <strong><em>comparaison Ruby VS Python</strong></em> devrait être les types réels des langages de programmation. <strong><em>Python est</strong></em> simple, tandis que <strong><em>Ruby est</strong></em> flexible.</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 34.5333%;">LANGAGE</td>
<td style="width: 32.1333%;">AVANTAGES</td>
<td style="width: 33.3333%;">INCONVENIENTS</td>
</tr>
<tr>
<td style="width: 34.5333%;">PYTHON</td>
<td style="width: 32.1333%;"><span>Il permet le prototypage rapide, et le code peut &ecirc;tre ex&eacute;cut&eacute; n'importe o&ugrave; : Windows, macOS, UNIX, Linux&hellip; sa flexibilit&eacute; permet de prendre en charge le d&eacute;veloppement de mod&egrave;les de Machine Learning, le forage de donn&eacute;es, la classification et bien d'autres t&acirc;ches plus rapidement que les autres&nbsp;</span><b>langage</b><span>.</span></td>
<td style="width: 33.3333%;"><span>&nbsp;interpr&eacute;t&eacute; et&nbsp;</span><b>est</b><span>&nbsp;lent par rapport &agrave; C/C++ ou Java ...&nbsp;</span></td>
</tr>
<tr>
<td style="width: 34.5333%;">RUBY</td>
<td style="width: 32.1333%;">
<p>reconnue pour sa souplesse. Il permet d'optimiser la productivit&eacute; d'un rojet en r&eacute;duisant consid&eacute;rablement son temps de d&eacute;veloppement.</p>
</td>
<td style="width: 33.3333%;">
<p><span>&Eacute;tant donn&eacute; que&nbsp;</span><b>Rails est</b><span>&nbsp;un framework ouvert et que les composants&nbsp;</span><b>sont</b><span>&nbsp;&eacute;troitement coupl&eacute;s et d&eacute;pendants les uns des autres, de mauvaises d&eacute;cisions architecturales peuvent entra&icirc;ner de graves probl&egrave;mes.</span></p>
</td>
</tr>
</tbody>
</table>
<p></p>
<p><a href="https://fr.wikipedia.org/wiki/Ruby">RUBY</a></p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/131px-Ruby_logo.svg.png"></p>